body
{
	background: #cfb991;
    background-size: cover;
    color: #333;
    font-family: 'Lato','Roboto',Arial,Tahoma,sans-serif;
    font-size: 62.5%;
    line-height: 1.5em;
    margin: 90px;
    padding: 0;
	align-items: center;
}

.purdue_img
{
	margin: auto;
	text-align: center;
}

.main_frame
{
	margin: auto;
    justify-content: center
    border-width: 2px;
    border-color: black;
    border-style: solid;
	background-color: #EBEBEB;
	font-size: 16px;
	width: 1500px;
    height: 1500px;
}

h1
{
  display: block;
  font-size: 3.5em;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #cfb991;
  color: black;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #e6a210;
}

.form_div{
  margin :auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 960px;
  height: 450px;
  align-items: center;
}

label {
   font-size: 1.5em;
   font-weight: bold;
}